<nav class="navbar navbar-dark bg-black">
  <a class="navbar-brand logo" routerLink="details" [queryParams]="{
    lat: default.lat,
    lon: default.lon
  }">
    <img width="50px" height="50px" src="../assets/img/mago.png" alt="Chapeu mago">
    <span class="title pl-3">Mago do tempo</span>
  </a>
  <div id="navbar-portal-outlet"></div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 bg-black sidebar border-right sticky ">
      <ul class="nav flex-column">
        <li class="m-3 item ">
          <a class="align-center text-decoration-none" routerLink="/"><span class="material-icons">
            home
            </span><span class="ml-2">Home</span></a>
        </li>
        <li class="m-3 item ">
          <a class="align-center text-decoration-none" routerLink="/bookmarks"><span class="material-icons">
            star
            </span><span class="ml-2">Favoritos</span></a>
        </li>
      </ul>
    </div>

    <div class="col-sm-9 mt-5">
      <router-outlet></router-outlet>
      <br><br>
    </div>
  </div>
</div>
